@model Web.ViewModels.Status.CreateStatusViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create post</h2>

<form asp-controller="Status" asp-action="AddStatus" method="post">
    <textarea asp-for="Status"></textarea>
    <input type="submit"/>
</form>
