﻿@model Web.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var status in Model.Statuses)
    {
        <div class="card text-left">
            <div class="card-header">
                @status.Author.UserName <span class="float-right">@status.Date</span>
            </div>
            <div class="card-body">
                <p class="card-text">@status.Content</p>
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="@($"#comments{status.Id.ToString().Replace("-","")}")" aria-expanded="false" aria-controls="@($"comments{status.Id.ToString().Replace("-","")}")">
                    Comments
                </button>
            </div>
            <div class="card card-body collapse" style="padding: 0" id="@($"comments{status.Id.ToString().Replace("-","")}")">
                <p style="margin: 1em">Comments</p>
            </div>
        </div>
    }
</div>
